node_modules

.vercel
.next
.env.local
contracts/build.env
.yarn
.history



node_modules
coverage
coverage.json
typechain
typechain-types

#Hardhat files
cache
artifacts


node_modules
coverage
coverage.json
typechain
typechain-types

#Hardhat files
cache
artifacts

