*,
*::before,
*::after {
    box-sizing: border-box;
}

ul[class],
ol[class] {
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0 !important;
}

body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    background-color: white;
}

ul[class],
ol[class] {
    list-style: none;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

img {
    max-width: 100%;
    display: block;
}

article > * + * {
    margin-top: 1em;
}

input,
button,
textarea,
select {
    font: inherit;
}

.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu:hover::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-active::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-active::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-open::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-open::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-selected::after {
    border-bottom: 2px solid #21bf96 !important;
}

.ant-menu-horizontal > .ant-menu-item-selected a,
.ant-menu-horizontal > .ant-menu-item a:hover {
    color: #21bf96 !important;
}

.ant-modal-content {
    overflow: auto;
    border-radius: 1rem;
}

.webkit-scrollbar {
    width: 20px; 
}

.webkit-scrollbar-track {
  background-color: black;
}

.webkit-scrollbar-thumb {
  background: #4e4e4e;
  border-radius: 25px;
}

.page {
    display: flex;
    justify-content: space-between;
  }
  
.sideBar {
position: sticky;
top: 0px;
width: calc((100vw - 800px) * 0.45);
border-right: 1px solid rgb(63, 63, 63);
color: black;
height: 100vh;
}

.rightBar {
top: 0px;
width: calc((100vw - 800px) * 0.55);
border-left: 1px solid rgb(255, 255, 255);
color: black;
height: 100vh;
}

.mainWindow {
    width: 800px;
    color: white
}

.siderContent{
    padding-top: 20px;
    padding-right: 90px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    height:85vh;
    align-items: end;
}

.details {
    display: flex;
    padding: 10px;
    gap:14px;
    justify-content: start;
    align-items: center;
    text-decoration: none !important;
}

.menuItems {
    display: flex;
    justify-content: start;
    gap: 14px;
    margin-top: 20px;
    align-items: center;
    font-weight: 600;
    font-size: 20px;
    padding:10px;
    border-radius: 1000px;
    color: black !important;
    text-decoration: none !important;
}

.menuItems:hover{
    cursor:pointer;
    background-color: #E0E5E6;
}

.profile{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.rightbarContent {
    padding: 25px;
    width: 100%;
}

.trends {
    background-color: #ffffff;
    border-radius: 25px;
    min-height: calc(100vh - 200px);
    max-width:350px;
    margin-top: 40px;
    padding: 20px;
    font-weight: bold;
    font-size: 18px;
    overflow-y: scroll;
}

.trend{
    display:flex;
    justify-content: start;
    align-items: center;
    gap:20px;
    margin-top: 15px;
    padding: 10px;
}

.trendImg{
    width: 100px;
    border-radius: 3px;
}

.trendText {
    font-size: 15px;
    font-weight: normal;
}

.feedPost {
    max-width: 100%;
    border-bottom: 1px solid rgb(63, 63, 63);
    padding: 20px;
    color: white;
    justify-content: space-between;
    display: flex;
}

.profilePic {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.completePost {
    display: flex;
    justify-content: start;
    flex-direction: column;
    gap:10px;
    width:89%;
    gap:10px;
}

.who {
    display: flex;
    gap: 10px;
    font-weight: 600;
    align-items: center;
    color: gray;
}

.accWhen {
    font-size: 15px;
    font-weight: 400;
    color: gray;
}

.postContent{
    display: flex;
    justify-content: start;
    flex-direction: column;
    gap:10px;
    color: gray;
}

.postTitle{
    display: flex;
    align-items: center;
    gap:10px;
    font-size: 15px;
    font-weight: 600;
    color: gray;
}

.postCategory {
    font-size: 15px;
    font-weight: 400;
    color: gray;
}

.postImg {
    width: 75%;
    border-radius: 10px;
}

.profileBanner {
    width: 100%;
    max-width: 100%;
    height: 220px;
    object-fit: cover;
}

.pfpContainer {
    max-width:100%;
    display: flex;
    justify-content: start;
    flex-direction: column;
    border-bottom: 1px solid rgb(63, 63, 63);
}

.profilePFP {
    widtH: 130px;
    border-radius: 50%;
    border: 5px solid #141d26;
    position: relative;
    top:-65px;
    left:40px;
}

.profileName {
    color: black;
    position: relative;
    top:-55px;
    left:40px;
    font-size: 20px;
    font-weight: bold;
}

.profileWallet {
    color: rgb(114, 114, 114);
    position: relative;
    top:-50px;
    left:40px;
    font-size: 14px;
}

.profileBio {
    color: black;
    position: relative;
    top:-40px;
    left:40px;
    font-size: 16px;
    font-weight: 500;
}

.profileEdit {
    color: black;
    position: relative;
    top:-100px;
    left:650px;
    font-size: 14px;
    font-weight: bold;
    border: 0.5px solid black;
    width: 100px;
    justify-content: center;
    display:flex;
    padding: 10px 10px;
    border-radius: 1000px;
}

.profileEdit:hover {
    cursor: pointer;
}

.profileTabs {
    display: flex;
    justify-content: center;
    color: black;
    font-weight: bold;
}

.profileTab {
    padding-bottom: 10px;  
    border-bottom: 2px solid #1DA1F2;
}

.settingsPage {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.pfp {
    color:#68738D;
    padding-left: 10px;
}

.pfpOptions {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    margin-top: 10px;
    gap:30px;
}

.pfpOption {
    border-radius: 50%;
    margin-top:10px;
    width:110px;
    height:110px;
    border:5px;
}

.pfpOption {
    cursor: pointer;
}

.pfpOptionSelected {
    border-radius: 50%;
    margin-top:10px;
    width:110px;
    height:110px;
    border:5px solid #1DA1F2;
}

.banner {
    width:90%;
    height:200px;
    object-fit: cover;
}

.banner:hover {
    cursor:pointer;
}

.save {
    background-color: #1DA1F2;
    padding: 10px 20px;
    border-radius: 1000px;
    color: white;
    font-weight: 600;
    width: 100px;
    display: flex;
    justify-content: center;
    margin-left: 80%;
}

.save:hover{
    cursor:pointer;
}

.interactions {
    margin-top: 10px;
    display: flex;
    justify-content: start;
    gap: 150px;
}

.interactionLink {
    color:#3f3f3f;
    display: flex;
    justify-content: start;
    gap: 10px;
    padding: 10px;
    border-radius: 1000px;
}

.interactionLink:hover {
    cursor:pointer;
    background-color: #1da0f20b;
}

.App {
    font-family: sans-serif;
    text-align: center;
}